$note-color:                   #e4e73b;
$note-shadow:                  #808080;
$edit-button-color:            #75c7e6;
$delete-button-color:          #e69375;
$save-button-color:            #a2df89;
$add-note-color:               $save-button-color;
$main-color:                   #000;
